*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.pascal {
     justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: blue;
    padding: 20px 20px;
    
}
.pascal a{
    color:white ;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    display: flex;
}
.la{
    display: flex;
    list-style: none;
}
.la li{
    margin-left: 20px;
}
.pascal ul{
    text-decoration:none;
    align-items: center;
    display: flex;
    padding:20px 7px ;
}
.pascal a:hover{
    color: darkgoldenrod;
}